header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom: medium solid #f3735f;
}
.topbar {
  max-width: 1024px;
  height: 80px;

  background-color: #fff;
  margin: 0 auto;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

header img {
  margin: 24px 0 24px 204px;
  width: 200px;
  height: auto;
}

h1 {
  color: #393c6c;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding: 60px 0px 0px;
}
main {
  margin: 60px 0px 0px;
}
.container {
  background-color: #fff;
  max-width: 1024px;
  height: 1179px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.info_sup {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 8px 0px 0px;
}

.container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-items: center;
  border-radius: 10px;
}
.image_crepes {
  text-align: center;
}
.img_crèpe {
  width: 300px;
  height: 300px;
  margin-left: 34px;
  margin-right: 34px;
}
h2 {
  color: #f3735f;

  margin-top: 60px;
  font-size: 30px;
  font-weight: 700;
}

ul {
  margin-top: 25px;

  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
}
li {
  list-style: disc;
  margin: 15px;
  line-height: 6px;
}
.time {
  margin: 40px;
  text-align: center;
  margin-bottom: 70px;
}
.rectangle {
  font-size: 22px;
  font-weight: 700;
  align-content: center;
  background-color: #8a98b1;
  padding: 10px 83px;
  border-radius: 10px;
  color: #fff;
}

h3 {
  margin-top: 26px;
  font-size: 18px;
  font-weight: 700;
  color: #393c6c;
  line-height: 22px;
}

.preparation p {
  font-size: 16px;
  font-weight: 400;
  color: #393c6c;
  line-height: 22px;
}

footer p {
  margin: 60px 0px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
